body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-align: center;
  color: #0000ff;
}
h2 {
  text-align: center;
  color: brown;
}
p {
  text-align: inherit;
  margin: 50px;
}
.buton1 {
  background-color: #33cc33;
  color: #1a1a00;
  display: block;
  width: 240px;
  margin: 50px auto;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 30px 10px;
  box-shadow: 1px 5px 5px rgb(22, 20, 20);
}
.buton2 {
  background-color: hotpink;
  color: black;
  display: block;
  width: 240px;
  margin: 50px auto;
  text-align: center;
  text-decoration: none;
  font-weight: italic;
  font-size: 30px;
  padding: 30px 10px;
  box-shadow: 1px 5px 5px rgb(22, 20, 20);
  border-radius: 10px;
}
.buton3 {
  background-color: rgba(219, 25, 25, 0.89);
  color: rgb(236, 225, 225);
  display: block;
  width: 240px;
  margin: 50px auto;
  text-align: center;
  text-decoration: none;
  font-weight: italic;
  font-size: 35px;
  padding: 30px 10px;
  box-shadow: 1px 5px 5px rgb(22, 20, 20);
  border-radius: 10px;
}
.bara {
  text-align: center;
}
 